{% extends "layout.html" %} {% block body%}
<h1>Bienvenido</h1>

<p>
    Para ver los datos de Casos Positivos de Covid-19 en colombia,
    <br> ingrese la cantidad de datos que desea ver,
    <br> seguido a esto, ingrese desde que dato quiere que se impriman las filas.
    <br> Ingrese un numero de 1 a 1'000.000)(1 millon)
</p>

<form action="{{ url_for('view_df') }} " method="POST">
    <select class="custom-select" name="opcion">
        <option selected>Rango</option>
        <option value="1">1</option>
        <option value="5">5</option>
        <option value="10">10</option>
        <option value="20">20</option>
        <option value="25">25</option>
        <option value="50">50</option>
        <option value="100">100</option>
        <option value="200">200</option>
        <option value="250">250</option>
        <option value="500">500</option>
        <option value="1000">1000</option>
      </select>
    <input type="texto" name="dato" placeholder="Ingrese dato inicial">
    <button>Enviar</button>
</form>

<h1>Consultas</h1>

<p>
    Cuantos hombres y mujeres trajeron el virus de "X" país.
</p>

<form action="{{ url_for('view_consult_pais') }} " method="POST">
    <input type="texto" name="pais" placeholder="Ingrese el Pais">
    <button>Buscar</button>
</form>

{% endblock %}


<!-- 


-->